body {
    font-family: Roboto, sans-serif;
}

header {
    display: block;
    color: navy;
    border: none;
    margin: 0;
    text-align: center;
}

main {
    padding: 1rem;
    background-color: white;
    min-width: 400px;
    width: 100%;
}

h1 {
    margin-top: 0;
    font-size: 1.2rem;
    text-align: center;
}

h2 {
    color: black;
    font-size: 1rem;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: .2rem;
}

h3 {
    margin: 0.5rem;
    font-size: 1rem;
    text-align: center;
    color: black;
}

footer {
    padding: 1rem;
    margin-bottom: 3rem;
    color: white;
    background-color: navy;
    text-align: center;
}


header .center {
    width:400px;
    height: auto;
}
